/* How to treat the screen on a big-size display such as a deksktop monitor or laptop */
@media only screen and (min-width: 901px) {
    .main {
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 25px;
        position: absolute;
        width: 575px
    }
    body {
        background-color: #221f21;
    }
    #pfp {
        width: 175px;
    }
}
/* How to treat the content box on a smaller screen (e.g. a phone or tablet) */
@media only screen and (max-width: 900px) {
    body {
        background-color: #353535;
    }
    .main{
        margin: auto;
        max-width: 575px;
        min-width: 250px;
    }
    #pfp {
        width: 150px;
    }
}
/* Generic styling, regardless of viewport */
body {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Cantarell, Ubuntu, Roboto, 'Noto Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    background-color: #36333a;
    padding: 35px;
    text-align: left;
}

.top {
    text-align: center;
}

#name {
    font-weight: bold;
    line-height: 100%;
    text-align: center;
    color: #e9beea
}

img#pfp {
    border-radius: 100%;
}
/* Terminal-looking detail box */
.aboutMe {
    background-color: #232323;
    color: #e9e9e9;
    padding: 12px;
    font-family: monospace;
    font-size: 13px;
    text-align: left;
    border-radius: 10px;
}
a#aboutMe {
    color: #7fc3ff;
}
small#comment {
    font-size: 13px;
    color: #a4ff68;
}
small#property {
    font-size: 13px;
    color: #f390ae;
}

a#listItem {
    color: #e9beea;
}
